{% extends "base.html" %}
{% block title %}Change Password{% endblock %}

{% block content %}
<div class="box" style="max-width: 600px; margin: auto;">
  <h2 class="title is-3 has-text-centered has-text-link">🔑 Change Password</h2>
  <hr>

  <form method="post" action="">
    {% csrf_token %}
    {{ form.as_p }}

    <div class="field is-grouped is-grouped-centered mt-4">
      <div class="control">
        <button class="button is-success">✅ Update Password</button>
      </div>
      <div class="control">
        <a href="{% url 'student_profile' %}" class="button is-light">❌ Cancel</a>
      </div>
    </div>
  </form>
</div>
{% endblock %}
